body {
    background-color: #bbb4b4;
}

a{
    text-decoration: none;
}

.login-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    border-radius: 4px;
}
