body {
    background-image: url("../picture/uns.jpg");
    background-size: 70px 70px;
}

a{
    text-decoration: none;
}

.nama-user{
    color: #ffffff;
}

.pertanyaan{
    color: #ffffff;
}

footer{
    background-color: rgb(163, 163, 163);
}

.login-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    border-radius: 4px;
}
